<html>
<head>
	<title></title>
	<style type="text/css">
body {
	background: url('http://1000posts.com/wp-content/uploads/2015/07/Mr-Robot.jpg');
}
.left {
	position: absolute;
	width: 0;
	left: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	background: rgba(0,0,0,.7);
	overflow-y: scroll;
	transition: all .3s;
}
div[class^="item"] {
    width: 100%;
    height: 0;
    text-align: center;
    color: #fff;
    padding: 32px 0;
    border-bottom: 2px solid;
    border-radius: 10px;
    margin: 10px 0;
    cursor: pointer;
 }
 div[class^="item"]:hover {
 	background: black;
 }
 .menu {
 	position: relative;
 	top: 10px;
 	left:10px;
 	width: 40px;
 	height:20px;
 	color: #fff;
 	display: block;
    z-index: 999;
    border: 1px solid;
    padding: 3px;
    transition: all .3s;
 }
 .left-clicked {
 	width: 240px;
 }
 .menu-clicked {
 	left: 240px;
 }
</style>
</head>
<body>
	<div class="menu"> Menu </div>
<iframe src="" style="
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 auto;
    border:none;
    top:0;
"></iframe>

<div class="left">
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript">

	var video = $('iframe');
	var itemBar = $('.left');

	var movs = {
		"ep1": "https://lh3.googleusercontent.com/CsPp0EVjhZWGd7imRa71woajnaB6QmtDfIIkqX10vl5J=m37",
		"ep2": "https://lh3.googleusercontent.com/AC4aisCtr1vxrvMkK7eyMeKUgSCoFVWyYbTTW38lTCMe=m37",
		"ep3": "3",
		"ep4": "https://lh3.googleusercontent.com/6Ye844DCdsV4H1uMB_z-tBBC6Y73_24A2VZX7CX4T0hy=m22",
		"ep5": "https://lh3.googleusercontent.com/k2am0JtvDXgCz_bvWhJww2MSRPZSXQJHil9egKgWaqE5=m22",
		"ep6": "https://lh3.googleusercontent.com/JJ4r7rwE-I89CuOh5kU3mNql4EaLwe84XZmLWMxdNtas=m22",
		"ep7": "https://lh3.googleusercontent.com/4eWxiqC1MGB2o3A9e9JtR8YNNMIgjac4WnetHQpDXwm5=m22", 
		"ep8": "https://lh3.googleusercontent.com/UKeIdL8w6iCiG-uj3SEGHdYiFF6bAbRNvyGfF-HCwN6V=m22", 
		"ep9": "https://lh3.googleusercontent.com/6z0X924raki0wWugGZ5mhzK7c466jjwastBB7dfbilU=m22", 
		"ep10": "https://lh3.googleusercontent.com/vJZ5pngP5xgobyVcmJx_r7UVOKAJ2pFR-wYHVzoeW0c3=m22"
	}

	var ep = 10;
	for(i=1;i<ep;i++) {
		$(itemBar)
		.append('<div class="item'+i+'" number="'+i+'" src="'+ movs["ep"+i] +'"></div>');
		$('div[number='+i+']').text('Episode ' + i);
	}

	$('div[class^=item]').click(function(){
		$(video).attr('src', $(this).attr('src'));
	});
	$('.menu').click(function(){
		$('.left').toggleClass('left-clicked');
		$(this).toggleClass('menu-clicked');
	});
	$('body').attr('style', 'height:'+$(window).height()+'px;')


</script>
</body>
</html>








